<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322724605002-gdm8fvqm747b2ndaq5sjinc96hmpo0an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322724605002-gdm8fvqm747b2ndaq5sjinc96hmpo0an</string>
	<key>API_KEY</key>
	<string>AIzaSyBTORwmJxjuCZZexYla-K_NCGaBunBNbPA</string>
	<key>GCM_SENDER_ID</key>
	<string>322724605002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MilovanTomasevic.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-af734</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-af734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322724605002:ios:11d95a126efc134407cab3</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-af734.firebaseio.com</string>
</dict>
</plist>